h1{
    color:blue;
    text-align: center;
}
h2{
    color: red;
    text-align: center;

}   
h2.cat{
    color: blue;
    text-align: center;
}
p.lorem{
    color: red;
    text-align: center;
    margin: 20,15,25;
    padding-left: 5%;
    padding-right: 4%;
}
p.red-text{
    color: red;
    margin: 20%,30%;
    padding-left: 6%;
    padding-right: 4%;
    font-size: 20px;
    
}
h2.red-text{
    color: brown;
    margin: 20%,30%;
    padding-left: 6%;
    padding-right: 4%;
    font-family: lobster;
}
h3.red-text{
    color: green;
    font-family: monospace Lobster;
    padding: auto;
}
