h1{
    color:blue;
    text-align: center;
}
h2{
    color: red;
    text-align: center;

}   
h2.cat{
    color: blue;
    text-align: center;
}
p.lorem{
    color: red;
    text-align: center;
    margin: 20,15,25;
    padding-left: 5%;
    padding-right: 4%;
}
